@import "src/process/app/shared/global.scss";
@import "src/process/app/shared/ios.scss";
@import "src/process/app/shared/variables.scss";

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 48vh auto auto;
  align-content: start;

  > section {
    position: relative;

    ios-ui-picker {
      opacity: 1;
      z-index: 2;

      position: absolute;
      transition: 300ms ease-in-out opacity;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .running-container {
      opacity: 0;
      z-index: 1;

      color: #fff;
      font-size: 3rem;
      transition: 300ms ease-in-out opacity;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-container {
        span {
          display: inline-block;
        }
        &.with-hour .hour {
          display: initial;
        }
        &.without-hour .hour {
          display: none;
        }

        .hour,
        .min {
          position: relative;

          &::before {
            content: ":";
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(135%, -5%);
          }
        }
      }

      .progress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        .frame,
        .bar {
          fill: none;
          stroke-width: 10px;
          
        }
        .frame {
          stroke: #262628;
        }
        .bar {
          stroke: #f1a33b;
          stroke-linecap: round;
        }
      }
    }

    &.running {
      ios-ui-picker {
        opacity: 0;
        z-index: 1;
      }
      .running-container {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;

    button {
      cursor: pointer;
      &:hover {
        filter: brightness(92%);
      }
    }

    .cancel {
      background-color: $btn-cir-default;
      color: $btn-cir-default-color;
    }

    .start,
    .pause {
      background-color: $btn-cir-green;
      color: $btn-cir-green-color;
    }

    .running {
      background-color: #302007;
      color: #b87c2c;
    }
  }

  .menu-container {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 14px;
    color: #fff;
    font-size: 12px;
    font-family: "Apple SD Gothic Neo";
    background-color: rgba($btn-cir-default, 0.5);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      filter: brightness(92%);
    }

    p:nth-child(2) {
      color: #98989e;

      // ----- codes for to set right arrow locate center vertically -----
      display: flex;
      align-items: center;
      widget-svg {
        display: inline-flex;
        // ------------------------------------------------------------

        margin-left: 5px;
      }
    }
  }
}
