@import "/src/process/app/shared/global.scss";
@import "/src/process/app/shared/ios.scss";
@import "/src/process/app/shared/variables.scss";

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 48% auto auto;
  align-content: start;

  .button-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;

    button {
      cursor: pointer;
      &:hover {
        filter: brightness(92%);
      }
    }

    .cancel {
      background-color: $btn-cir-default;
      color: $btn-cir-default-color;
    }

    .start {
      background-color: $btn-cir-green;
      color: $btn-cir-green-color;
    }

    .stop {
      background-color: #302007;
      color: #b87c2c;
    }
  }
}